holdrelease.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Type"/>
              <xs:element type="xs:string" name="MessageNo"/>
              <xs:element type="xs:string" name="Date"/>
              <xs:element type="xs:string" name="Time"/>
              <xs:element type="xs:string" name="FileName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="onHoldStatus" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Alleen in gebruik door YayaAlleen in gebruik door YayaAlleen in gebruik door Yaya</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="orderNo"/>
                    <xs:element type="xs:int" name="status"/>
                    <xs:element type="xs:string" name="DeliverySlipHeaderId">
                      <xs:annotation>
                        <xs:documentation>Status 0 betekent releasen van de orderStatus 0 betekent releasen van de orderStatus 2 betekent uitpakken van de order</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
