po.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include id="GenericTypes" schemaLocation="GenericTypes.xsd"/>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Type"/>
              <xs:element type="xs:string" name="MessageNo"/>
              <xs:element type="xs:string" name="Date"/>
              <xs:element type="xs:string" name="Time"/>
              <xs:element type="xs:string" name="FileName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PreAlert" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="Text10" name="ReceiveDatePlnd"/>
                    <xs:element type="Text50" name="TransitNr"/>
                    <xs:element type="Text40" name="InboundNo"/>
                    <xs:element type="OText50" name="CustReference"/>
                    <xs:element type="xs:int" name="NoOfBoxes"/>
                    <xs:element type="xs:string" name="TransitContainerId"/>
                    <xs:element type="Text250" name="DelvName"/>
                    <xs:element type="OText250" name="CustomerCode"/>
                    <xs:element type="OText250" name="CustomerOrderNo"/>
                    <xs:element name="TrackAndTraceCodes" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="OText250" name="TrackAndTraceCode" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="Text10" name="PreAlertType"/>
                    <xs:element name="PreAlertLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PreAlertLine" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:int" name="LineNum"/>
                                <xs:element type="xs:string" name="ItemNum"/>
                                <xs:element type="Text20Numeric" name="ItemEan"/>
                                <xs:element type="xs:int" name="Quantity"/>
                                <xs:element type="xs:string" name="StockUnit"/>
                                <xs:element type="xs:string" name="OrderNo"/>
                                <xs:element type="xs:string" name="TransitLineSizeId"/>
                                <xs:element type="OText255" name="Reason"/>
                                <xs:element type="OText255" name="Remark"/>
                                <xs:element type="xs:int" name="StockStat"/>
                                <xs:element type="xs:string" name="StyleCode"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>