returnconfirmation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include id="GenericTypes" schemaLocation="GenericTypes.xsd"/>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Type"/>
              <xs:element type="xs:string" name="MessageNo"/>
              <xs:element type="xs:string" name="Date"/>
              <xs:element type="xs:string" name="Time"/>
              <xs:element type="xs:string" name="FileName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchaseReceipt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="Text40" name="ReturnNo"/>
                    <xs:element type="OText255" name="DeliverySlipId"/>
                    <xs:element type="Text50" name="CustReference"/>
                    <xs:element type="xs:string" name="CustReference2"/>
                    <xs:element type="xs:string" name="KlantNr"/>
                    <xs:element type="Text10" name="Ontvangstdatum"/>
                    <xs:element type="Text40" name="InType"/>
                    <xs:element name="purchaseReceiptLines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="purchaseReceiptLine" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="Text20Numeric" name="ItemEan"/>
                                <xs:element type="xs:int" name="Receivedquantity"/>
                                <xs:element type="xs:int" name="TotalReceivedQuantity"/>
                                <xs:element type="xs:int" name="StockStatus"/>
                                <xs:element type="OText255" name="DeliverySlipLineSizeId"/>
                                <xs:element name="ReturnReasons">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ReturnReason" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="Text255" name="ReturnReason_Question"/>
                                            <xs:element type="Text255" name="ReturnReason_Answer"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
