stock.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include id="GenericTypes" schemaLocation="GenericTypes.xsd"/>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Type"/>
              <xs:element type="xs:string" name="MessageNo"/>
              <xs:element type="xs:string" name="Date"/>
              <xs:element type="xs:string" name="Time"/>
              <xs:element type="xs:string" name="FileName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StockLine" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="Text20Numeric" name="ItemEan"/>
                    <xs:element type="xs:int" name="quantity"/>
                    <xs:element type="Text10" name="reason" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:int" name="Voorraadstatus"/>
                    <xs:element type="Text10" name="WarehouseCode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>